/*
 * Noto Sans
 * License: SIL Open Font License 1.1
 * Source: https://fonts.google.com/specimen/Noto+Sans
 */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('NotoSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('NotoSans-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('NotoSans-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('NotoSans-Bold.woff2') format('woff2');
}
