/*
 * Noto Serif
 * License: SIL Open Font License 1.1
 * Source: https://fonts.google.com/specimen/Noto+Serif
 */

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('NotoSerif-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('NotoSerif-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('NotoSerif-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('NotoSerif-Bold.woff2') format('woff2');
}
