/*
 * Playfair Display
 * License: SIL Open Font License 1.1
 * Source: https://fonts.google.com/specimen/Playfair+Display
 */

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('PlayfairDisplay-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('PlayfairDisplay-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('PlayfairDisplay-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('PlayfairDisplay-Bold.woff2') format('woff2');
}
